@keyframes spinner {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

@keyframes slide-left {
  0% {opacity: 0; transform: translateX(-120%);}
  100% {opacity: 1; transform: translateX(0);}
}

.#{$animation-prefix-class} {
  --name: none;
  --duration: .5s;
  --delay: 0;
  --timing-function: linear;
  --iteration-count: 1;
  --direction: alternate;
  --fill-mode: both;
  --play-state: running;
  animation: var(--name) var(--duration) var(--iteration-count) var(--play-state) var(--direction);

  &-slide-left {
    --name: slide-left;
  }
}

.#{$animation-prefix-class}-#{$animation-toggle-class} {
  [class*="#{$animation-prefix-class}"] {
    --play-state: paused;
  }
  &\:#{$hover-class}:hover {
    [class*="#{$animation-prefix-class}"] {
      --play-state: running;
    }
  }
  &.#{$open-state-class} {
    [class*="#{$animation-prefix-class}"] {
      --play-state: running;
    }
  }
}
