.#{$column-prefix-class} {
  @each $name, $size in $breakpoint-list {
    @include breakpoint-up($name, $size) {
      $br-name: breakpoint-infix($name);
      @for $i from 1 through $column-count {
        &-#{$i}#{$br-name} {
          columns: #{$i};
        }
      }
      @each $spacing, $value in $spacing-list {
        &-#{$column-gap-class}-#{$spacing}#{$br-name} {
          column-gap: var(--spacing-#{$spacing});
        }
      }
      &-#{$column-span-class}-#{$none-class}#{$br-name} {column-span: none;}
      &-#{$column-span-class}-#{$all-class}#{$br-name} {column-span: all;}
    }
  }
}
