.#{$cursor-prefix-class} {
  &-#{$cursor-text-class} {cursor: text;}
  &-#{$cursor-move-class} {cursor: move;}
  &-#{$cursor-pointer-class} {cursor: pointer;}
  &-#{$cursor-help-class} {cursor: help;}
  &-#{$cursor-default-class} {cursor: default;}
}
