@each $name, $size in $breakpoint-list {
  @include breakpoint-up($name, $size) {
    $br-name: breakpoint-infix($name);

    .#{$flex-direction-class}-#{$flex-row-class}#{$br-name} {flex-direction: row;}
    .#{$flex-direction-class}-#{$flex-row-reverse-class}#{$br-name} {flex-direction: row-reverse;}
    .#{$flex-direction-class}-#{$flex-column-class}#{$br-name} {flex-direction: column;}
    .#{$flex-direction-class}-#{$flex-column-reverse-class}#{$br-name} {flex-direction: column-reverse;}
    .#{$flex-direction-class}-#{$inherit-class}#{$br-name} {flex-direction: inherit;}

    .#{$flex-wrap-class}-#{$flex-wrap-wrap-class}#{$br-name} {flex-wrap: wrap;}
    .#{$flex-wrap-class}-#{$flex-wrap-nowrap-class}#{$br-name} {flex-wrap: nowrap;}
    .#{$flex-wrap-class}-#{$flex-wrap-revers-class}#{$br-name} {flex-wrap: wrap-reverse;}
    .#{$flex-wrap-class}-#{$inherit-class}#{$br-name} {flex-wrap: inherit;}

    .#{$flex-justify-content-class}-#{$flex-stretch-class}#{$br-name} {justify-content: stretch;}
    .#{$flex-justify-content-class}-#{$flex-center-class}#{$br-name} {justify-content: center;}
    .#{$flex-justify-content-class}-#{$flex-start-class}#{$br-name} {justify-content: start;}
    .#{$flex-justify-content-class}-#{$flex-end-class}#{$br-name} {justify-content: end;}
    .#{$flex-justify-content-class}-#{$flex-flex-start-class}#{$br-name} {justify-content: flex-start;}
    .#{$flex-justify-content-class}-#{$flex-flex-end-class}#{$br-name} {justify-content: flex-end;}
    .#{$flex-justify-content-class}-#{$flex-left-class}#{$br-name} {justify-content: left;}
    .#{$flex-justify-content-class}-#{$flex-right-class}#{$br-name} {justify-content: right;}
    .#{$flex-justify-content-class}-#{$flex-baseline-class}#{$br-name} {justify-content: baseline;}
    .#{$flex-justify-content-class}-#{$flex-first-baseline-class}#{$br-name} {justify-content: first baseline;}
    .#{$flex-justify-content-class}-#{$flex-last-baseline-class}#{$br-name} {justify-content: last baseline;}
    .#{$flex-justify-content-class}-#{$flex-space-between-class}#{$br-name} {justify-content: space-between;}
    .#{$flex-justify-content-class}-#{$flex-space-around-class}#{$br-name} {justify-content: space-around;}
    .#{$flex-justify-content-class}-#{$flex-space-evenly-class}#{$br-name} {justify-content: space-evenly;}
    .#{$flex-justify-content-class}-#{$flex-safe-center-class}#{$br-name} {justify-content: safe center;}
    .#{$flex-justify-content-class}-#{$flex-unsafe-center-class}#{$br-name} {justify-content: unsafe center;}
    .#{$flex-justify-content-class}-#{$inherit-class}#{$br-name} {justify-content: inherit;}

    .#{$flex-justify-items-class}-#{$normal-class}#{$br-name} {justify-items: normal;}
    .#{$flex-justify-items-class}-#{$flex-stretch-class}#{$br-name} {justify-items: stretch;}
    .#{$flex-justify-items-class}-#{$flex-center-class}#{$br-name} {justify-items: center;}
    .#{$flex-justify-items-class}-#{$flex-start-class}#{$br-name} {justify-items: start;}
    .#{$flex-justify-items-class}-#{$flex-end-class}#{$br-name} {justify-items: end;}
    .#{$flex-justify-items-class}-#{$flex-flex-start-class}#{$br-name} {justify-items: flex-start;}
    .#{$flex-justify-items-class}-#{$flex-flex-end-class}#{$br-name} {justify-items: flex-end;}
    .#{$flex-justify-items-class}-#{$flex-left-class}#{$br-name} {justify-items: left;}
    .#{$flex-justify-items-class}-#{$flex-right-class}#{$br-name} {justify-items: right;}
    .#{$flex-justify-items-class}-#{$flex-self-start-class}#{$br-name} {justify-items: self-start;}
    .#{$flex-justify-items-class}-#{$flex-self-end-class}#{$br-name} {justify-items: self-end;}
    .#{$flex-justify-items-class}-#{$flex-baseline-class}#{$br-name} {justify-items: baseline;}
    .#{$flex-justify-items-class}-#{$flex-first-baseline-class}#{$br-name} {justify-items: first baseline;}
    .#{$flex-justify-items-class}-#{$flex-last-baseline-class}#{$br-name} {justify-items: last baseline;}
    .#{$flex-justify-items-class}-#{$flex-safe-center-class}#{$br-name} {justify-items: safe center;}
    .#{$flex-justify-items-class}-#{$flex-unsafe-center-class}#{$br-name} {justify-items: unsafe center;}
    .#{$flex-justify-items-class}-#{$inherit-class}#{$br-name} {justify-items: inherit;}

    .#{$flex-justify-self-class}-#{$normal-class}#{$br-name} {justify-self: normal;}
    .#{$flex-justify-self-class}-#{$flex-stretch-class}#{$br-name} {justify-self: stretch;}
    .#{$flex-justify-self-class}-#{$flex-center-class}#{$br-name} {justify-self: center;}
    .#{$flex-justify-self-class}-#{$flex-start-class}#{$br-name} {justify-self: start;}
    .#{$flex-justify-self-class}-#{$flex-end-class}#{$br-name} {justify-self: end;}
    .#{$flex-justify-self-class}-#{$flex-flex-start-class}#{$br-name} {justify-self: flex-start;}
    .#{$flex-justify-self-class}-#{$flex-flex-end-class}#{$br-name} {justify-self: flex-end;}
    .#{$flex-justify-self-class}-#{$flex-self-start-class}#{$br-name} {justify-self: self-start;}
    .#{$flex-justify-self-class}-#{$flex-self-end-class}#{$br-name} {justify-self: self-end;}
    .#{$flex-justify-self-class}-#{$flex-left-class}#{$br-name} {justify-self: left;}
    .#{$flex-justify-self-class}-#{$flex-right-class}#{$br-name} {justify-self: right;}
    .#{$flex-justify-self-class}-#{$flex-baseline-class}#{$br-name} {justify-self: baseline;}
    .#{$flex-justify-self-class}-#{$flex-first-baseline-class}#{$br-name} {justify-self: first baseline;}
    .#{$flex-justify-self-class}-#{$flex-last-baseline-class}#{$br-name} {justify-self: last baseline;}
    .#{$flex-justify-self-class}-#{$flex-safe-center-class}#{$br-name} {justify-self: safe center;}
    .#{$flex-justify-self-class}-#{$flex-unsafe-center-class}#{$br-name} {justify-self: unsafe center;}
    .#{$flex-justify-self-class}-#{$inherit-class}#{$br-name} {justify-self: inherit;}

    .#{$flex-align-content-class}-#{$normal-class}#{$br-name} {align-content: normal;}
    .#{$flex-align-content-class}-#{$flex-stretch-class}#{$br-name} {align-content: stretch;}
    .#{$flex-align-content-class}-#{$flex-center-class}#{$br-name} {align-content: center;}
    .#{$flex-align-content-class}-#{$flex-start-class}#{$br-name} {align-content: start;}
    .#{$flex-align-content-class}-#{$flex-end-class}#{$br-name} {align-content: end;}
    .#{$flex-align-content-class}-#{$flex-flex-start-class}#{$br-name} {align-content: flex-start;}
    .#{$flex-align-content-class}-#{$flex-flex-end-class}#{$br-name} {align-content: flex-end;}
    .#{$flex-align-content-class}-#{$flex-baseline-class}#{$br-name} {align-content: baseline;}
    .#{$flex-align-content-class}-#{$flex-first-baseline-class}#{$br-name} {align-content: first baseline;}
    .#{$flex-align-content-class}-#{$flex-last-baseline-class}#{$br-name} {align-content: last baseline;}
    .#{$flex-align-content-class}-#{$flex-space-between-class}#{$br-name} {align-content: space-between;}
    .#{$flex-align-content-class}-#{$flex-space-around-class}#{$br-name} {align-content: space-around;}
    .#{$flex-align-content-class}-#{$flex-space-evenly-class}#{$br-name} {align-content: space-evenly;}
    .#{$flex-align-content-class}-#{$flex-safe-center-class}#{$br-name} {align-content: safe center;}
    .#{$flex-align-content-class}-#{$flex-unsafe-center-class}#{$br-name} {align-content: unsafe center;}
    .#{$flex-align-content-class}-#{$inherit-class}#{$br-name} {align-content: inherit;}

    .#{$flex-align-items-class}-#{$normal-class}#{$br-name} {align-items: normal;}
    .#{$flex-align-items-class}-#{$flex-stretch-class}#{$br-name} {align-items: stretch;}
    .#{$flex-align-items-class}-#{$flex-center-class}#{$br-name} {align-items: center;}
    .#{$flex-align-items-class}-#{$flex-start-class}#{$br-name} {align-items: start;}
    .#{$flex-align-items-class}-#{$flex-end-class}#{$br-name} {align-items: end;}
    .#{$flex-align-items-class}-#{$flex-flex-start-class}#{$br-name} {align-items: flex-start;}
    .#{$flex-align-items-class}-#{$flex-flex-end-class}#{$br-name} {align-items: flex-end;}
    .#{$flex-align-items-class}-#{$flex-baseline-class}#{$br-name} {align-items: baseline;}
    .#{$flex-align-items-class}-#{$flex-first-baseline-class}#{$br-name} {align-items: first baseline;}
    .#{$flex-align-items-class}-#{$flex-last-baseline-class}#{$br-name} {align-items: last baseline;}
    .#{$flex-align-items-class}-#{$flex-self-start-class}#{$br-name} {align-items: self-start;}
    .#{$flex-align-items-class}-#{$flex-self-end-class}#{$br-name} {align-items: self-end;}
    .#{$flex-align-items-class}-#{$flex-safe-center-class}#{$br-name} {align-items: safe center;}
    .#{$flex-align-items-class}-#{$flex-unsafe-center-class}#{$br-name} {align-items: unsafe center;}
    .#{$flex-align-items-class}-#{$inherit-class}#{$br-name} {align-items: inherit;}

    .#{$flex-align-self-class}-#{$normal-class}#{$br-name} {align-self: normal;}
    .#{$flex-align-self-class}-#{$flex-stretch-class}#{$br-name} {align-self: stretch;}
    .#{$flex-align-self-class}-#{$flex-center-class}#{$br-name} {align-self: center;}
    .#{$flex-align-self-class}-#{$flex-start-class}#{$br-name} {align-self: start;}
    .#{$flex-align-self-class}-#{$flex-end-class}#{$br-name} {align-self: end;}
    .#{$flex-align-self-class}-#{$flex-flex-start-class}#{$br-name} {align-self: flex-start;}
    .#{$flex-align-self-class}-#{$flex-flex-end-class}#{$br-name} {align-self: flex-end;}
    .#{$flex-align-self-class}-#{$flex-baseline-class}#{$br-name} {align-self: baseline;}
    .#{$flex-align-self-class}-#{$flex-first-baseline-class}#{$br-name} {align-self: first baseline;}
    .#{$flex-align-self-class}-#{$flex-last-baseline-class}#{$br-name} {align-self: last baseline;}
    .#{$flex-align-self-class}-#{$flex-self-start-class}#{$br-name} {align-self: self-start;}
    .#{$flex-align-self-class}-#{$flex-self-end-class}#{$br-name} {align-self: self-end;}
    .#{$flex-align-self-class}-#{$flex-safe-center-class}#{$br-name} {align-self: safe center;}
    .#{$flex-align-self-class}-#{$flex-unsafe-center-class}#{$br-name} {align-self: unsafe center;}
    .#{$flex-align-self-class}-#{$inherit-class}#{$br-name} {align-self: inherit;}

    @if ($flex-place-props) {
      .#{$flex-place-content-class}-#{$flex-stretch-class}#{$br-name} {place-content: stretch;}
      .#{$flex-place-content-class}-#{$flex-center-class}#{$br-name} {place-content: center;}
      .#{$flex-place-content-class}-#{$flex-left-class}#{$br-name} {place-content: left;}
      .#{$flex-place-content-class}-#{$flex-right-class}#{$br-name} {place-content: right;}
      .#{$flex-place-content-class}-#{$flex-start-class}#{$br-name} {place-content: start;}
      .#{$flex-place-content-class}-#{$flex-end-class}#{$br-name} {place-content: end;}
      .#{$flex-place-content-class}-#{$flex-flex-start-class}#{$br-name} {place-content: flex-start;}
      .#{$flex-place-content-class}-#{$flex-flex-end-class}#{$br-name} {place-content: flex-end;}
      .#{$flex-place-content-class}-#{$flex-baseline-class}#{$br-name} {place-content: baseline;}
      .#{$flex-place-content-class}-#{$flex-first-baseline-class}#{$br-name} {place-content: first baseline;}
      .#{$flex-place-content-class}-#{$flex-last-baseline-class}#{$br-name} {place-content: last baseline;}
      .#{$flex-place-content-class}-#{$flex-space-between-class}#{$br-name} {place-content: space-between;}
      .#{$flex-place-content-class}-#{$flex-space-around-class}#{$br-name} {place-content: space-around;}
      .#{$flex-place-content-class}-#{$flex-space-evenly-class}#{$br-name} {place-content: space-evenly;}
      .#{$flex-place-content-class}-#{$inherit-class}#{$br-name} {place-content: inherit;}

      .#{$flex-place-items-class}-#{$normal-class}#{$br-name} {place-items: normal;}
      .#{$flex-place-items-class}-#{$flex-stretch-class}#{$br-name} {place-items: stretch;}
      .#{$flex-place-items-class}-#{$flex-center-class}#{$br-name} {place-items: center;}
      .#{$flex-place-items-class}-#{$flex-start-class}#{$br-name} {place-items: start;}
      .#{$flex-place-items-class}-#{$flex-end-class}#{$br-name} {place-items: end;}
      .#{$flex-place-items-class}-#{$flex-left-class}#{$br-name} {place-items: left;}
      .#{$flex-place-items-class}-#{$flex-right-class}#{$br-name} {place-items: right;}
      .#{$flex-place-items-class}-#{$flex-flex-start-class}#{$br-name} {place-items: flex-start;}
      .#{$flex-place-items-class}-#{$flex-flex-end-class}#{$br-name} {place-items: flex-end;}
      .#{$flex-place-items-class}-#{$flex-self-start-class}#{$br-name} {place-items: self-start;}
      .#{$flex-place-items-class}-#{$flex-self-end-class}#{$br-name} {place-items: self-end;}
      .#{$flex-place-items-class}-#{$flex-baseline-class}#{$br-name} {place-items: baseline;}
      .#{$flex-place-items-class}-#{$flex-first-baseline-class}#{$br-name} {place-items: first baseline;}
      .#{$flex-place-items-class}-#{$flex-last-baseline-class}#{$br-name} {place-items: last baseline;}
      .#{$flex-place-items-class}-#{$inherit-class}#{$br-name} {place-items: inherit;}

      .#{$flex-place-self-class}-#{$flex-stretch-class}#{$br-name} {place-self: stretch;}
      .#{$flex-place-self-class}-#{$flex-start-class}#{$br-name} {place-self: normal;}
      .#{$flex-place-self-class}-#{$flex-self-start-class}#{$br-name} {place-self: self-start;}
      .#{$flex-place-self-class}-#{$flex-self-end-class}#{$br-name} {place-self: self-end;}
      .#{$flex-place-self-class}-#{$flex-flex-start-class}#{$br-name} {place-self: flex-start;}
      .#{$flex-place-self-class}-#{$flex-flex-end-class}#{$br-name} {place-self: flex-end;}
      .#{$flex-place-self-class}-#{$flex-baseline-class}#{$br-name} {place-self: baseline;}
      .#{$flex-place-self-class}-#{$flex-first-baseline-class}#{$br-name} {place-self: first baseline;}
      .#{$flex-place-self-class}-#{$flex-last-baseline-class}#{$br-name} {place-self: last baseline;}
      .#{$flex-place-self-class}-#{$inherit-class}#{$br-name} {place-self: inherit;}
    }

    .#{$flex-fill-class}#{$br-name} {flex: 1 1 auto;}
    .#{$flex-none-class}#{$br-name} {flex: none;}
    .#{$flex-none-childs-class}#{$br-name} > * {flex: none;}
    .#{$flex-grow-1-class}#{$br-name} {flex-grow: 1;}
    .#{$flex-grow-0-class}#{$br-name} {flex-grow: 0;}
    .#{$flex-shrink-1-class}#{$br-name} {flex-shrink: 1;}
    .#{$flex-shrink-0-class}#{$br-name} {flex-shrink: 0;}

    @each $key, $value in $flex-order-list {
      .#{$flex-order-class}-#{$key}#{$br-name} {order: $value;}
    }
  }
}
