.#{$user-select-prefix-class} {
  &-#{$none-class} {user-select: none;}
  &-#{$auto-class} {user-select: auto;}
  &-#{$user-select-all-class} {user-select: all;}
}

.#{$pointer-events-prefix-class} {
  &-#{$none-class} {pointer-events: none;}
  &-#{$auto-class} {pointer-events: auto;}
}
