.#{$list-prefix-class} {
  @each $name, $size in $breakpoint-list {
    @include breakpoint-up($name, $size) {
      $br-name: breakpoint-infix($name);
      &-#{$list-style-type-disc-class}#{$br-name} {list-style-type: disc;}
      &-#{$list-style-type-decimal-class}#{$br-name} {list-style-type: decimal;}
      &-#{$list-style-position-inside-class}#{$br-name} {list-style-position: inside;}
      &-#{$list-style-position-outside-class}#{$br-name} {list-style-position: outside;}
    }
  }

  @each $color, $value in $color-list {
    &-#{$list-marker-class}-#{$color} > li::marker {color: #{$value}; color: rgba(var(--color-#{$color}), 1);}
  }
}
