.#{$position-prefix-class} {
  @each $name, $size in $breakpoints {
    @include breakpoint-up($name, $size) {
      $br-name: breakpoint-infix($name);
      &-#{$position-relative-class}#{$br-name} {position: relative;}
      &-#{$position-absolute-class}#{$br-name} {position: absolute;}
      &-#{$position-fixed-class}#{$br-name} {position: fixed;}
      &-#{$position-sticky-class}#{$br-name} {position: sticky;}
      &-#{$position-static-class}#{$br-name} {position: static;}
      &-#{$inherit-class}#{$br-name} {position: inherit;}
      &-#{$position-cover-class}#{$br-name} {left: 0; right: 0; top: 0; bottom: 0;}
      &-#{$position-center-class}#{$br-name} {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &-#{$position-center-horizontal-class}#{$br-name} {
        left: 50%;
        transform: translateX(-50%);
      }
      &-#{$position-center-vertical-class}#{$br-name} {
        top: 50%;
        transform: translateY(-50%);
      }

      @each $spacing, $value in $spacings {
        &-#{$direction-top-class}-#{$spacing}#{$br-name} {top: var(--spacing-#{$spacing});}
        &-#{$direction-right-class}-#{$spacing}#{$br-name} {right: var(--spacing-#{$spacing});}
        &-#{$direction-bottom-class}-#{$spacing}#{$br-name} {bottom: var(--spacing-#{$spacing});}
        &-#{$direction-left-class}-#{$spacing}#{$br-name} {left: var(--spacing-#{$spacing});}
        &-#{$direction-horizontal-class}-#{$spacing}#{$br-name} {left: var(--spacing-#{$spacing}); right: var(--spacing-#{$spacing});}
        &-#{$direction-vertical-class}-#{$spacing}#{$br-name} {top: var(--spacing-#{$spacing}); bottom: var(--spacing-#{$spacing});}
      }

      &-#{$direction-top-class}-#{$auto-class}#{$br-name} {top: auto;}
      &-#{$direction-right-class}-#{$auto-class}#{$br-name} {right: auto;}
      &-#{$direction-bottom-class}-#{$auto-class}#{$br-name} {bottom: auto;}
      &-#{$direction-left-class}-#{$auto-class}#{$br-name} {left: auto;}
      &-#{$direction-horizontal-class}-#{$auto-class}#{$br-name} {left: auto; right: auto;}
      &-#{$direction-vertical-class}-#{$auto-class}#{$br-name} {top: auto; bottom: auto;}
    }
  }
}
