.#{$position-prefix-class} {
  @each $name, $size in $breakpoint-list {
    @include breakpoint-up($name, $size) {
      $br-name: breakpoint-infix($name);
      &-#{$position-relative-class}#{$br-name} {position: relative;}
      &-#{$position-absolute-class}#{$br-name} {position: absolute;}
      &-#{$position-fixed-class}#{$br-name} {position: fixed;}
      &-#{$position-sticky-class}#{$br-name} {position: sticky;}
      &-#{$position-static-class}#{$br-name} {position: static;}
      &-#{$inherit-class}#{$br-name} {position: inherit;}
      &-#{$position-cover-class}#{$br-name} {left: 0; right: 0; top: 0; bottom: 0;}
      &-#{$auto-class}#{$br-name} {left: auto; right: auto; top: auto; bottom: auto;}

      @each $spacing, $value in $spacing-list {
        &-#{$direction-top-class}-#{$spacing}#{$br-name} {top: var(--spacing-#{$spacing});}
        &-#{$direction-right-class}-#{$spacing}#{$br-name} {right: var(--spacing-#{$spacing});}
        &-#{$direction-bottom-class}-#{$spacing}#{$br-name} {bottom: var(--spacing-#{$spacing});}
        &-#{$direction-left-class}-#{$spacing}#{$br-name} {left: var(--spacing-#{$spacing});}
        &-#{$direction-horizontal-class}-#{$spacing}#{$br-name} {left: var(--spacing-#{$spacing}); right: var(--spacing-#{$spacing});}
        &-#{$direction-vertical-class}-#{$spacing}#{$br-name} {top: var(--spacing-#{$spacing}); bottom: var(--spacing-#{$spacing});}

        &-#{$direction-top-class}-#{$spacing}-#{$negative-class}#{$br-name} {top: calc(var(--spacing-#{$spacing}) * -1);}
        &-#{$direction-right-class}-#{$spacing}-#{$negative-class}#{$br-name} {right: calc(var(--spacing-#{$spacing}) * -1);}
        &-#{$direction-bottom-class}-#{$spacing}-#{$negative-class}#{$br-name} {bottom: calc(var(--spacing-#{$spacing}) * -1);}
        &-#{$direction-left-class}-#{$spacing}-#{$negative-class}#{$br-name} {left: calc(var(--spacing-#{$spacing}) * -1);}
        &-#{$direction-horizontal-class}-#{$spacing}-#{$negative-class}#{$br-name} {left: calc(var(--spacing-#{$spacing}) * -1); right: calc(var(--spacing-#{$spacing}) * -1);}
        &-#{$direction-vertical-class}-#{$spacing}-#{$negative-class}#{$br-name} {top: calc(var(--spacing-#{$spacing}) * -1); bottom: calc(var(--spacing-#{$spacing}) * -1);}
      }

      &-#{$direction-top-class}-#{$auto-class}#{$br-name} {top: auto;}
      &-#{$direction-right-class}-#{$auto-class}#{$br-name} {right: auto;}
      &-#{$direction-bottom-class}-#{$auto-class}#{$br-name} {bottom: auto;}
      &-#{$direction-left-class}-#{$auto-class}#{$br-name} {left: auto;}
      &-#{$direction-horizontal-class}-#{$auto-class}#{$br-name} {left: auto; right: auto;}
      &-#{$direction-vertical-class}-#{$auto-class}#{$br-name} {top: auto; bottom: auto;}
    }
  }
}
