.#{$shadow-prefix-class} {
  --shadow-x: 0;
  --shadow-y: 0;
  --shadow-scattering: 0;
  --shadow-width: 2px;

  @each $color, $value in $color-list {
    &-#{$color} {box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-scattering) var(--shadow-width) var(--color-#{$color});}
    &-#{$color}\:#{$hover-class}:hover {box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-scattering) var(--shadow-width) var(--color-#{$color});}
    &-#{$color}\:#{$focus-class}:focus {box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-scattering) var(--shadow-width) var(--color-#{$color});}
    &-#{$color}\:#{$focus-within-class}:focus-within {box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-scattering) var(--shadow-width) var(--color-#{$color});}
    &-#{$color}\:#{$active-class}:active {box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-scattering) var(--shadow-width) var(--color-#{$color});}
  }

  @each $name, $size in $breakpoint-list {
    @include breakpoint-up($name, $size) {
      $br-name: breakpoint-infix($name);
      @each $shadow, $value in $shadow-list {
        &-#{$shadow}#{$br-name} {box-shadow: var(--shadow-#{$shadow});}
        &-#{$shadow}#{$br-name}\:#{$hover-class}:hover {box-shadow: var(--shadow-#{$shadow});}
        &-#{$shadow}#{$br-name}\:#{$focus-class}:focus {box-shadow: var(--shadow-#{$shadow});}
        &-#{$shadow}#{$br-name}\:#{$focus-within-class}:focus-within {box-shadow: var(--shadow-#{$shadow});}
        &-#{$shadow}#{$br-name}\:#{$active-class}:active {box-shadow: var(--shadow-#{$shadow});}
      }
      @each $key, $value in $shadow-width-list {
        &-#{$shadow-width-class}-#{$key}#{$br-name} {--shadow-width: #{$value};}
      }
      @each $key, $value in $shadow-horizontal-shift-list {
        &-#{$direction-horizontal-class}-#{$key}#{$br-name} {--shadow-x: #{$value};}
      }
      @each $key, $value in $shadow-vertical-shift-list {
        &-#{$direction-vertical-class}-#{$key}#{$br-name} {--shadow-y: #{$value};}
      }
      @each $key, $value in $shadow-scattering-list {
        &-#{$shadow-scattering-class}-#{$key}#{$br-name} {--shadow-scattering: #{$value};}
      }
      &-#{$none-class}#{$br-name} {box-shadow: none;}
      &-#{$inherit-class}#{$br-name} {box-shadow: inherit;}
    }
  }
}
