.#{$size-prefix-class} {
  @each $name, $size in $breakpoint-list {
    @include breakpoint-up($name, $size) {
      $br-name: breakpoint-infix($name);
      @each $sz, $value in $size-list {
        &-#{$sz}#{$br-name} {
          width: var(--size-#{$sz});
          height: var(--size-#{$sz});
        }
        &-#{$size-max-class}-#{$sz}#{$br-name} {
          max-width: var(--size-#{$sz});
          max-height: var(--size-#{$sz});
        }
        &-#{$size-min-class}-#{$sz}#{$br-name} {
          min-width: var(--size-#{$sz});
          min-height: var(--size-#{$sz});
        }
      }
    }
  }
}
