.#{$margin-prefix-class} {
  @each $name, $size in $breakpoint-list {
    @include breakpoint-up($name, $size) {
      $br-name: breakpoint-infix($name);
      @each $spacing, $value in $spacing-list {
        &-#{$spacing}#{$br-name} {margin: var(--spacing-#{$spacing})}
        &#{$direction-top-class}-#{$spacing}#{$br-name} {margin-top: var(--spacing-#{$spacing})}
        &#{$direction-right-class}-#{$spacing}#{$br-name} {margin-right: var(--spacing-#{$spacing})}
        &#{$direction-left-class}-#{$spacing}#{$br-name} {margin-left: var(--spacing-#{$spacing})}
        &#{$direction-bottom-class}-#{$spacing}#{$br-name} {margin-bottom: var(--spacing-#{$spacing})}
        &#{$direction-vertical-class}-#{$spacing}#{$br-name} {margin-top: var(--spacing-#{$spacing}); margin-bottom: var(--spacing-#{$spacing})}
        &#{$direction-horizontal-class}-#{$spacing}#{$br-name} {margin-left: var(--spacing-#{$spacing}); margin-right: var(--spacing-#{$spacing})}

        @if ($spacing != 0) {
          // negative
          &#{$direction-top-class}-#{$spacing}-#{$negative-class}#{$br-name} {margin-top: calc(var(--spacing-#{$spacing}) * -1)}
          &#{$direction-right-class}-#{$spacing}-#{$negative-class}#{$br-name} {margin-right: calc(var(--spacing-#{$spacing}) * -1)}
          &#{$direction-left-class}-#{$spacing}-#{$negative-class}#{$br-name} {margin-left: calc(var(--spacing-#{$spacing}) * -1)}
          &#{$direction-bottom-class}-#{$spacing}-#{$negative-class}#{$br-name} {margin-bottom: calc(var(--spacing-#{$spacing}) * -1)}
          &#{$direction-vertical-class}-#{$spacing}-#{$negative-class}#{$br-name} {margin-top: calc(var(--spacing-#{$spacing}) * -1); margin-bottom: calc(var(--spacing-#{$spacing}) * -1)}
          &#{$direction-horizontal-class}-#{$spacing}-#{$negative-class}#{$br-name} {margin-left: calc(var(--spacing-#{$spacing}) * -1); margin-right: calc(var(--spacing-#{$spacing}) * -1)}
        }
      }
      // auto
      &-#{$auto-class}#{$br-name} {margin: auto}
      &#{$direction-top-class}-#{$auto-class}#{$br-name} {margin-top: auto}
      &#{$direction-right-class}-#{$auto-class}#{$br-name} {margin-right: auto}
      &#{$direction-left-class}-#{$auto-class}#{$br-name} {margin-left: auto}
      &#{$direction-bottom-class}-#{$auto-class}#{$br-name} {margin-bottom: auto}
      &#{$direction-vertical-class}-#{$auto-class}#{$br-name} {margin-top: auto; margin-bottom: auto}
      &#{$direction-horizontal-class}-#{$auto-class}#{$br-name} {margin-left: auto; margin-right: auto}
      &-#{$inherit-class}#{$br-name} {margin: inherit;}
    }
  }
}

.#{$padding-prefix-class} {
  @each $name, $size in $breakpoint-list {
    @include breakpoint-up($name, $size) {
      $br-name: breakpoint-infix($name);
      @each $spacing, $value in $spacing-list {
        &-#{$spacing}#{$br-name} {padding: var(--spacing-#{$spacing})}
        &#{$direction-top-class}-#{$spacing}#{$br-name} {padding-top: var(--spacing-#{$spacing})}
        &#{$direction-right-class}-#{$spacing}#{$br-name} {padding-right: var(--spacing-#{$spacing})}
        &#{$direction-left-class}-#{$spacing}#{$br-name} {padding-left: var(--spacing-#{$spacing})}
        &#{$direction-bottom-class}-#{$spacing}#{$br-name} {padding-bottom: var(--spacing-#{$spacing})}
        &#{$direction-vertical-class}-#{$spacing}#{$br-name} {padding-top: var(--spacing-#{$spacing}); padding-bottom: var(--spacing-#{$spacing})}
        &#{$direction-horizontal-class}-#{$spacing}#{$br-name} {padding-left: var(--spacing-#{$spacing}); padding-right: var(--spacing-#{$spacing})}
      }
      &-#{$inherit-class}#{$br-name} {padding: inherit}
    }
  }
}

.#{$spacing-childs-prefix-class} {
  @each $name, $size in $breakpoint-list {
    @include breakpoint-up($name, $size) {
      $br-name: breakpoint-infix($name);
      @each $spacing, $value in $spacing-list {
        &-#{$direction-horizontal-class}-#{$spacing}#{$br-name} {
          > * + * {margin-left: var(--spacing-#{$spacing});}
        }
        &-#{$direction-vertical-class}-#{$spacing}#{$br-name} {
          > * + * {margin-top: var(--spacing-#{$spacing});}
        }
        @if ($spacing != 0) {
          &-#{$direction-horizontal-class}-#{$spacing}-#{$negative-class}#{$br-name} {
            > * + * {margin-left: calc(var(--spacing-#{$spacing}) * -1);}
          }
          &-#{$direction-vertical-class}-#{$spacing}-#{$negative-class}#{$br-name} {
            > * + * {margin-top: calc(var(--spacing-#{$spacing}) * -1);}
          }
        }
      }
    }
  }
}
