.#{$text-decoration-prefix-class} {
  &-#{$none-class} {text-decoration: none;}
  &-#{$none-class}\:h:hover {text-decoration: none;}
  &-#{$text-decoration-undeline-class} {text-decoration: underline;}
  &-#{$text-decoration-undeline-class}\:h:hover {text-decoration: none;}
  &-#{$text-decoration-overline-class} {text-decoration: overline;}
  &-#{$text-decoration-strike-class} {text-decoration: line-through;}
}
