.#{$text-decoration-prefix-class} {
  &-#{$none-class} {text-decoration: none;}
  @include apply-states($none-class) {text-decoration: none;}
  &-#{$text-decoration-undeline-class} {text-decoration: underline;}
  @include apply-states($text-decoration-undeline-class) {text-decoration: underline;}
  &-#{$text-decoration-overline-class} {text-decoration: overline;}
  @include apply-states($text-decoration-overline-class) {text-decoration: overline;}
  &-#{$text-decoration-strike-class} {text-decoration: line-through;}
  @include apply-states($text-decoration-strike-class) {text-decoration: line-through;}
}
