.#{$user-select-prefix-class} {
  &-#{$user-select-all-class} {user-select: all;}
  &-#{$user-select-text-class} {user-select: text;}
  &-#{$auto-class} {user-select: auto;}
  &-#{$none-class} {user-select: none;}
}
