.#{$white-space-prefix-class} {
  @each $name, $size in $breakpoint-list {
    @include breakpoint-up($name, $size) {
      $br-name: breakpoint-infix($name);
      &-#{$white-space-nowrap-class}#{$br-name} {white-space: nowrap;}
      &-#{$white-space-pre-class}#{$br-name} {white-space: pre;}
      &-#{$white-space-pre-wrap-class}#{$br-name} {white-space: pre-wrap;}
      &-#{$white-space-pre-line-class}#{$br-name} {white-space: pre-line;}
      &-#{$white-space-break-spaces-class}#{$br-name} {white-space: break-spaces;}
      &-#{$normal-class}#{$br-name} {white-space: normal;}
      &-#{$inherit-class}#{$br-name} {white-space: inherit;}
    }
  }
}
