.#{$width-prefix-class} {
  @each $name, $size in $breakpoint-list {
    @include breakpoint-up($name, $size) {
      $br-name: breakpoint-infix($name);

      @each $size, $value in $size-list {
        &-#{$size}#{$br-name} {width: var(--size-#{$size});}
      }

      &-#{$auto-class}#{$br-name} {width: auto;}
      &-#{$inherit-class}#{$br-name} {width: inherit;}

      &-#{$width-max-100-class}#{$br-name} {max-width: 100%;}
      &-#{$width-max-none-class}#{$br-name} {max-width: none;}
    }
  }
}
