.#{$button-prefix-class} {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: none;
  text-decoration: none;
  font-size: var(--button-font-size-base);

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &--primary {
    background: var(--primary);
    color: var(--light);

    &:hover,
    &:focus {
      background: var(--primary-1);
      color: var(--light);
    }

    &:active {
      background: var(--primary-2);
    }
  }

  &--secondary {
    background: var(--secondary);
    color: var(--light);

    &:hover,
    &:focus {
      background: var(--secondary-1);
      color: var(--light);
    }

    &:active {
      background: var(--secondary-2);
    }
  }

  &--warning {
    background: var(--warning);
    color: var(--light);

    &:hover,
    &:focus {
      background: var(--warning-1);
      color: var(--light);
    }

    &:active {
      background: var(--warning-2);
    }
  }

  &--success {
    background: var(--success);
    color: var(--light);

    &:hover,
    &:focus {
      background: var(--success-1);
      color: var(--light);
    }

    &:active {
      background: var(--success-2);
    }
  }

  &--danger {
    background: var(--danger);
    color: var(--light);

    &:hover,
    &:focus {
      background: var(--danger-2);
      color: var(--light);
    }

    &:active {
      background: var(--danger-3);
    }
  }

  &[disabled],
  &.disabled {
    cursor: disabled;
  }
}
