.#{$button-prefix-class} {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: none;
  text-decoration: none;
  font-size: $button-base-font-size;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &--primary {
    background: css-prop(primary, map-get($colors, primary));
    color: css-prop(light, map-get($colors, light));

    &:hover,
    &:focus {
      background: css-prop(primary-1, map-get($colors, primary-1));
      color: css-prop(light, map-get($colors, light));
    }

    &:active {
      background: css-prop(primary-2, map-get($colors, primary-2));
    }
  }

  &--secondary {
    background: css-prop(secondary, map-get($colors, secondary));
    color: css-prop(light, map-get($colors, light));

    &:hover,
    &:focus {
      background: css-prop(secondary-1, map-get($colors, secondary-1));
      color: css-prop(light, map-get($colors, light));
    }

    &:active {
      background: css-prop(secondary-2, map-get($colors, secondary-2));
    }
  }

  &--warning {
    background: css-prop(warning, map-get($colors, warning));
    color: css-prop(light, map-get($colors, light));

    &:hover,
    &:focus {
      background: css-prop(warning-1, map-get($colors, warning-1));
      color: css-prop(light, map-get($colors, light));
    }

    &:active {
      background: css-prop(warning-2, map-get($colors, warning-2));
    }
  }

  &--success {
    background: css-prop(success, map-get($colors, success));
    color: css-prop(light, map-get($colors, light));

    &:hover,
    &:focus {
      background: css-prop(success-1, map-get($colors, success-1));
      color: css-prop(light, map-get($colors, light));
    }

    &:active {
      background: css-prop(success-2, map-get($colors, success-2));
    }
  }

  &--danger {
    background: css-prop(danger, map-get($colors, danger));
    color: css-prop(light, map-get($colors, light));

    &:hover,
    &:focus {
      background: css-prop(danger-1, map-get($colors, danger-1));
      color: css-prop(light, map-get($colors, light));
    }

    &:active {
      background: css-prop(danger-2, map-get($colors, danger-2));
    }
  }

  &[disabled],
  &.disabled {
    cursor: disabled;
  }
}
