.#{$button-prefix-class} {
  display: inline-flex;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: none;
  text-decoration: none;
  font-size: var(--button-font-size-base);
  vertical-align: top;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &-primary {
    background: var(--color-primary);
    color: var(--color-light);

    &:hover,
    &:focus {
      background: var(--color-primary-1);
      color: var(--color-light);
    }

    &:active {
      background: var(--color-primary-2);
    }
  }

  &-secondary {
    background: var(--color-secondary);

    &:hover,
    &:focus {
      background: var(--color-secondary-1);
      color: var(--color-light);
    }

    &:active {
      background: var(--color-secondary-2);
    }
  }

  &-warning {
    background: var(--color-warning);
    color: var(--color-light);

    &:hover,
    &:focus {
      background: var(--color-warning-1);
      color: var(--color-light);
    }

    &:active {
      background: var(--color-warning-2);
    }
  }

  &-success {
    background: var(--color-success);
    color: var(--color-light);

    &:hover,
    &:focus {
      background: var(--color-success-1);
      color: var(--color-light);
    }

    &:active {
      background: var(--color-success-2);
    }
  }

  &-info {
    background: var(--color-info);
    color: var(--color-light);

    &:hover,
    &:focus {
      background: var(--color-info-1);
      color: var(--color-light);
    }

    &:active {
      background: var(--color-info-2);
    }
  }

  &-danger {
    background: var(--color-danger);
    color: var(--color-light);

    &:hover,
    &:focus {
      background: var(--color-danger-1);
      color: var(--color-light);
    }

    &:active {
      background: var(--color-danger-2);
    }
  }

  &[disabled],
  &-disabled {
    pointer-events: none;
    cursor: default;
  }
}
