.#{$container-prefix-class} {
  max-width: #{$container-width};
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @each $key, $value in $container-width-fixed {
    &-#{$key} {
      max-width: #{$value};
    }
  }
}
