// custom select
.#{$component-prefix-class}-#{$select-class} {
  position: relative;

  select {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;

    &:focus ~ * {
      border-color: var(--color-primary);
    }
  }

  &__value {
    pointer-events: none;
    position: relative;
    min-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:before {
      content: attr(data-value);
    }

    .#{$svg-icon-class} {
      width: 16px;
      height: 16px;
      right: 16px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// input textarea
.#{$component-prefix-class}-#{$form-control} {
  outline: none;
  width: 100%;

  &:focus {
    border-color: var(--color-primary);
  }
}
