.#{$svg-icon-class} {
  width: 20px;
  height: 20px;
  fill: currentColor;
  color: inherit;

  svg {
    display: block;
    fill: inherit;
    width: inherit;
    height: inherit;
  }

  &-#{$svg-icon-stroke-class} {
    fill: none;
    stroke: currentColor;
  }

  &-#{$svg-icon-nofill-class} {
    fill: none;
  }
}
