.svg-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  color: inherit;

  svg {
    display: block;
    fill: inherit;
    width: inherit;
    height: inherit;
  }

  &-stroke {
    fill: none;
    stroke: currentColor;
  }

  &-nofill {
    fill: none;
  }
}
