$border-radius-utility: (
  properties: (
    rds: border-radius,
    rds-tl: border-top-left-radius,
    rds-tr: border-top-right-radius,
    rds-bl: border-bottom-left-radius,
    rds-br: border-bottom-right-radius,
  ),
  values: (
    1: 4px,
    2: 6px,
    3: 8px,
    4: 10px,
    5: 12px,
    6: 14px,
    7: 16px,
    8: 18px,
    9: 20px,
    10: 22px,
    11: 24px,
    12: 26px,
    13: 28px,
    14: 30px,
    round: 50%,
    pill: 50rem,
    0: 0,
  ),
  responsive: true,
  inherit: true,
);

@include apply-utility($border-radius-utility);
