$box-sizing-utility: (
  properties: (
    bx: box-sizing,
  ),
  values: (
    bb: border-box,
    cb: content-box,
  ),
  responsive: false,
  inherit: true,
);

$box-sizing-all-utility: (
  properties: (
    bx: box-sizing,
  ),
  values: (
    bb-all: border-box,
    cb-all: content-box,
  ),
  child: '*',
  responsive: false,
  inherit: true,
);

@include apply-utility($box-sizing-utility);
@include apply-utility($box-sizing-all-utility);
