.#{$height-prefix-class} {
  @each $name, $size in $breakpoints {
    @include breakpoint-up($name, $size) {
      $br-name: breakpoint-infix($name);
      &-#{$height-100-percent-class}#{$br-name} {height: 100%;}
      &-#{$height-75-percent-class}#{$br-name} {height: 75%;}
      &-#{$height-50-percent-class}#{$br-name} {height: 50%;}
      &-#{$height-33-percent-class}#{$br-name} {height: 33.3%;}
      &-#{$height-25-percent-class}#{$br-name} {height: 25%;}
      &-#{$auto-class}#{$br-name} {height: auto;}

      &-#{$height-max-100-class}#{$br-name} {max-height: 100%;}
      &-#{$height-max-none-class}#{$br-name} {max-height: none;}

      @each $size, $value in $sizes {
        &-#{$size-class}-#{$size}#{$br-name} {height: var(--size-#{$size});}
      }
    }
  }
}
