.#{$height-prefix-class} {
  @each $name, $size in $breakpoints {
    @include breakpoint-up($name, $size) {
      $br-name: breakpoint-infix($name);

      @each $size, $value in $sizes {
        &-#{$size}#{$br-name} {height: var(--size-#{$size});}
      }

      &-#{$auto-class}#{$br-name} {height: auto;}
      &-#{$inherit-class}#{$br-name} {height: inherit;}

      &-#{$height-max-100-class}#{$br-name} {max-height: 100%;}
      &-#{$height-max-none-class}#{$br-name} {max-height: none;}
    }
  }
}
