$position-utility: (
  properties: (
    pos: position,
  ),
  values: (
    rel: relative,
    abs: absolute,
    sti: sticky,
    fx: fixed,
    sta: static,
  ),
  responsive: true,
  inherit: true,
);

$position-directions-utility: (
  properties: (
    pos-cover: (
      top,
      left,
      right,
      bottom
    ),
    pos-l: left,
    pos-r: right,
    pos-t: top,
    pos-b: bottom,
    pos-y: (
      top,
      left
    ),
    pos-x: (
      left,
      right
    ),
  ),
  // from _vars.scss
  values: map-merge(
    map-merge(
      $spacing-list,
      $spacing-negative-list,
    ),
    (
      100: 100%,
      50: 50%,
      33: 33%,
      25: 25%,
      a: auto,
    )
  ),
  responsive: true,
  inherit: true,
);

$z-index-utility: (
  properties: (
    z: z-index,
  ),
  values: (
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6,
    7: 7,
    8: 8,
    9: 9,
    10: 10,
    0: 0,
    a: auto,
    1-neg: -1,
    2-neg: -2,
    3-neg: -3,
    4-neg: -4,
    5-neg: -5,
    6-neg: -6,
    7-neg: -7,
    8-neg: -8,
    9-neg: -9,
    10-neg: -10,
    100: 100,
    1000: 1000,
    2000: 2000,
  ),
  responsive: true,
  inherit: false,
);

@include apply-utility($position-utility);
@include apply-utility($position-directions-utility);
@include apply-utility($z-index-utility);
