.#{$radius-prefix-class} {
  @each $name, $size in $breakpoints {
    @include breakpoint-up($name, $size) {
      $br-name: breakpoint-infix($name);
      @each $radius, $value in $radiuses {
        &-#{$radius}#{$br-name} {border-radius: var(--radius-#{$radius});}
      }
      &-#{$radius-round-class}#{$br-name} {border-radius: 50%;}
      &-#{$radius-pill-class}#{$br-name} {border-radius: 50rem;}
      &-#{$inherit-class}#{$br-name} {border-radius: inherit;}
    }
  }
}
