$size-utility: (
  properties: (
    sz: (
      width,
      height
    ),
  ),
  values: $size-list, // from _vars.scss
  responsive: true,
  inherit: true,
);

$min-size-utility: (
  properties: (
    min-sz: (
      min-width,
      min-height
    ),
  ),
  values: $size-list, // from _vars.scss
  responsive: true,
  inherit: true,
);

@include apply-utility($size-utility);
@include apply-utility($min-size-utility);
