// global classes
$none-class: 'n';
$inherit-class: 'inh';
$unset-class: 'un';
$initial-class: 'int';
$normal-class: 'nl';
$auto-class: 'a';
$transparent-class: 'trsp';
$current-color-class: 'current';
$direction-start-class: 's';
$direction-end-class: 'e';
$direction-left-class: 'l';
$direction-center-class: 'c';
$direction-right-class: 'r';
$direction-middle-class: 'm';
$direction-top-class: 't';
$direction-bottom-class: 'b';
$direction-baseline-class: 'bs';
$direction-vertical-class: 'y';
$direction-horizontal-class: 'x';

// action
$hover-class: 'h';
$focus-class: 'f';
$focus-within-class: 'fcw';
$active-class: 'a';

// size
$size-class: 'sz';
$size-exstra-small-class: 'xs';
$size-small-class: 'sm';
$size-medium-class: 'md';
$size-large-class: 'lg';
$size-extra-large-class: 'xl';
$size-very-extra-large-class: 'xxl';
$sizes: (
  1: 16px,
  2: 20px,
  3: 24px,
  4: 30px,
  5: 32px,
  6: 36px,
  7: 42px,
  8: 48px,
  9: 52px,
  10: 64px,
  11: 72px,
  100: 100%,
  75: 75%,
  50: 50%,
  33: 33.33%,
  25: 25%,
  280: 280px,
  320: 320px,
  480: 480px,
  0: 0,
);

// button
$button-prefix-class: 'button';
$button-base-font-size: 14px;

// shadow
$shadow-prefix-class: 'sh';
$shadow-horizontal: '0'; // for $colors values
$shadow-vertical: '0'; // for $colors values
$shadow-width: '2px'; // for $colors values
$shadow-scattering: '2px'; // for $colors values
$shadows: (
  1: 'rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px',
  2: 'rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px',
  3: 'rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px',
  4: 'rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px',
  in-1: 'inset rgba(50, 50, 93, 0.25) 0 2px 5px -1px, inset rgba(0, 0, 0, 0.3) 0 1px 3px -1px',
  in-2: 'inset rgba(50, 50, 93, 0.25) 0 6px 12px -2px, inset rgba(0, 0, 0, 0.3) 0 3px 7px -3px',
  in-3: 'inset rgba(50, 50, 93, 0.25) 0 13px 27px -5px, inset rgba(0, 0, 0, 0.3) 0 8px 16px -8px',
  in-4: 'inset rgba(0, 0, 0, 0.19) 0 10px 20px, inset rgba(0, 0, 0, 0.23) 0 6px 6px',
);

// width
$width-prefix-class: 'wd';
$width-max-100-class: 'max-100';
$width-max-none-class: 'max-n';
$width-min-class: 'min';

// height
$height-prefix-class: 'he';
$height-max-100-class: 'max-100';
$height-max-none-class: 'max-n';
$height-min-class: 'min';

// position
$position-prefix-class: 'pos';
$position-relative-class: 'rel';
$position-absolute-class: 'abs';
$position-fixed-class: 'fx';
$position-sticky-class: 'sti';
$position-static-class: 'sta';
$position-cover-class: 'cover';
$position-center-class: 'cn';
$position-center-horizontal-class: 'cn-x';
$position-center-vertical-class: 'cn-y';

// z-index
$z-index-class: 'zi';
$z-index-list: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  0: 0,
  1-neg: -1,
  2-neg: -2,
  3-neg: -3,
  4-neg: -4,
  5-neg: -5,
  6-neg: -6,
  7-neg: -7,
  8-neg: -8,
  9-neg: -9,
  10-neg: -10,
  100: 100,
  1000: 1000,
  2000: 2000,
);

// text
$text-prefix-class: 'txt';
$text-color-class: 'clr';
$text-uppercase-class: 'upp';
$text-lowercase-class: 'lwr';
$text-capitalize-class: 'cap';
$text-transform-class: 'trf';
$text-underline-class: 'du';
$text-underline-none-class: 'dn';
$text-throught-class: 'lth';
$text-justify-class: 'j';
$text-truncate-class: 'trnc';
$text-truncate-reset-class: 'trnc-res';

// font
$font-prefix-class: 'font';
$font-base-class: 'base';
$font-secondary-class: 'secondary';
$font-thin-class: '100';
$font-extra-light-class: '200';
$font-light-class: '300';
$font-normal-class: '400';
$font-medium-class: '500';
$font-semibold-class: '600';
$font-bold-class: '700';
$font-extra-bold-class: '800';
$font-bolder-class: '900';
$font-italic-class: 'itl';
$font-size-class: 'sz';
$font-sizes-list: (
  10: 10px,
  11: 11px,
  12: 12px,
  13: 13px,
  14: 14px,
  15: 15px,
  16: 16px,
  17: 17px,
  18: 18px,
  19: 19px,
  20: 20px,
  21: 21px,
  22: 22px,
  23: 23px,
  24: 24px,
  25: 25px,
  26: 26px,
  27: 27px,
  28: 28px,
  29: 29px,
  30: 30px,
  0: 0,
);

// line height
$line-height-prefix-class: 'lh';
$line-height-list: (
  '1': 1,
  '1-1': 1.1,
  '1-2': 1.2,
  '1-3': 1.3,
  '1-4': 1.4,
  '1-5': 1.5,
  '1-6': 1.6,
  '1-7': 1.7,
  '1-8': 1.8,
  '1-9': 1.9,
  '2': 2,
  10: 10px,
  11: 11px,
  12: 12px,
  13: 13px,
  14: 14px,
  15: 15px,
  16: 16px,
  17: 17px,
  18: 18px,
  19: 19px,
  20: 20px,
  21: 21px,
  22: 22px,
  23: 23px,
  24: 24px,
  25: 25px,
  26: 26px,
  27: 27px,
  28: 28px,
  29: 29px,
  30: 30px,
  0: 0,
);

// background
$background-prefix-class: 'bg';
$background-repeat-repeat-class: 'rp';
$background-repeat-norepeat-class: 'nrp';

// display
$display-prefix-class: 'd';
$display-none-class: 'n';
$display-block-class: 'b';
$display-inline-block-class: 'ib';
$display-grid-class: 'g';
$display-inline-grid-class: 'ig';
$display-flex-class: 'f';
$display-inline-flex-class: 'if';
$display-table-class: 'tb';
$display-table-row-class: 'tr';
$display-table-cell-class: 'tc';
$display-table-caption-class: 'tcp';
$display-contents-class: 'cn';

// spacing
$margin-class: 'm';
$margin-negative-class: 'neg';
$padding-class: 'p';
$spacings: (
  1em: 1em,
  2em: 2em,
  1: 6px,
  2: 4px,
  3: 8px,
  4: 10px,
  5: 12px,
  6: 14px,
  7: 16px,
  8: 20px,
  9: 30px,
  10: 40px,
  11: 50px,
  12: 60px,
  13: 80px,
  0: 0,
);

// border
$border-prefix-class: 'bdr';
$border-width-class: 'wd';
$border-dotted-class: 'dt';
$border-dashed-class: 'dsh';
$border-solid-class: 'sl';
$border-width-count: 10;

// grid
$grid-row-class: 'row';
$grid-row-equal-height-class: 'equal-cols';
$grid-row-columns-class: 'cols';
$grid-column-class: 'col';
$grid-column-auto-class: 'a';
$grid-column-offset-class: 'col-ofs';
$grid-gap-class: 'gap';
$grid-column-count: 12;

// flex
// flex prefix
$flex-direction-class: 'fd';
$flex-justify-content-class: 'jc';
$flex-justify-items-class: 'ji';
$flex-justify-self-class: 'js';
$flex-align-content-class: 'ac';
$flex-align-items-class: 'ai';
$flex-align-self-class: 'as';
$flex-wrap-class: 'fw';
$flex-place-content-class: 'plc';
$flex-place-items-class: 'pli';
$flex-place-self-class: 'pls';

$flex-row-class: 'r';
$flex-row-reverse-class: 'rr';
$flex-column-class: 'c';
$flex-column-reverse-class: 'cr';

$flex-wrap-wrap-class: 'wr';
$flex-wrap-nowrap-class: 'nw';
$flex-wrap-revers-class: 'wrr';

$flex-center-class: 'c';
$flex-start-class: 's';
$flex-self-start-class: 'ss';
$flex-self-end-class: 'se';
$flex-end-class: 'e';
$flex-flex-start-class: 'fs';
$flex-flex-end-class: 'fe';
$flex-left-class: 'l';
$flex-right-class: 'r';
$flex-baseline-class: 'bs';
$flex-first-baseline-class: 'fbs';
$flex-last-baseline-class: 'lbs';
$flex-space-between-class: 'sb';
$flex-space-around-class: 'sa';
$flex-space-evenly-class: 'sev';
$flex-stretch-class: 'st';
$flex-safe-center-class: 'sc';
$flex-unsafe-center-class: 'uc';

$flex-fill-class: 'fl-f';
$flex-none-class: 'fl-n';
$flex-none-childs-class: 'fl-n-ch';
$flex-grow-1-class: 'fl-g-1';
$flex-grow-0-class: 'fl-g-0';
$flex-shrink-1-class: 'fl-sh-1';
$flex-shrink-0-class: 'fl-sh-0';

$flex-order-class: 'or';
$flex-order-count: 10;
$flex-order-first-class: 'f';
$flex-order-last-class: 'l';
$flex-place-props: true;

// svg icon
$svg-icon-class: 'svg-icon';
$svg-icon-stroke-class: 'stroke';
$svg-icon-nofill-class: 'nofill';

// mute
$mute-class: 'mute';
$mute-opacity: '.5';

// opacity
$opacity-prefix-class: 'op';
$opacity: (
  100: 1,
  90: .9,
  80: .8,
  70: .7,
  60: .6,
  50: .5,
  40: .4,
  30: .3,
  20: .2,
  10: .1,
  0: 0,
);

// user select
$user-select-prefix-class: 'us';
$user-select-all-class: 'all';

// pointer events class
$pointer-events-prefix-class: 'pe';

// overflow
$overflow-prefix-class: 'ov';
$overflow-hidden-class: 'h';
$overflow-visible-class: 'v';
$overflow-scroll-class: 'sc';

// visibilitys
$visibility-prefix-class: 'vs';
$visibility-hidden-class: 'h';
$visibility-visible-class: 'v';

// forms
$form-focus-color: var(--color-primary);
$form-custom-select-class: 'rs-select';
$form-custom-select-value-class: '__value';
$form-control-class: 'rs-form-control'; // input textarea
$form-checkbox-class: 'rs-checkbox';
$form-radio-class: 'rs-radio';
$form-switch-class: 'rs-switch';

// spinner
$spinner-prefix-class: 'rs-spinner';
$spinner-base-width: 32px;
$spinner-base-height: 32px;
$spinner-base-border-width: 3px;

// transtion animation
$animation-prefix-class: 'anim';
$transition-prefix-class: 'trs';
$times: (
  30: .3s,
  50: .5s,
  70: .7s,
  1: 1s,
  2: 2s,
  3: 3s,
  4: 4s,
);

// alignment
$align-prefix-class: 'va';
$align-child-class: 'ch';
$align-text-top-class: 'tt';
$align-text-bottom-class: 'tb';

// other
$container-class: 'container';
$clearfix-class: 'clearfix';
$float-prefix-class: 'flt';

// border radius
$radius-prefix-class: 'rds';
$radiuses: (
  1: 4px,
  2: 6px,
  3: 8px,
  4: 10px,
  5: 12px,
  6: 14px,
  7: 16px,
  8: 18px,
  9: 20px,
  10: 22px,
  11: 24px,
  12: 26px,
  13: 28px,
  14: 30px,
  round: 50%,
  pill: 50rem,
  0: 0,
);

// cursor
$cursor-prefix-class: 'cur';
$cursor-pointer-class: 'p';
$cursor-move-class: 'm';
$cursor-text-class: 't';
$cursor-help-class: 'h';
$cursor-default-class: 'd';

// colors
$colors : (
  disabled: #ccc,
  dark:#000000,
	light:#ffffff,
  theme:#eed5b7,
  theme-1:#cdb79e,
  theme-2:#cdb38b,
	primary:#00bfff,
	primary-1:#00b2ee,
	primary-2:#009acd,
	secondary:#e0e0e0,
	secondary-1:#d8d8d8,
	secondary-2:#a0a0a0,
	success:#00BF32,
	success-1:#269610,
	success-2:#167C0C,
	warning:#FFAF2D,
	warning-1:#FF8719,
  warning-2:#C15A0D,
  info:#87ceff,
	info-1:#7ec0ee,
	info-2:#6ca6cd,
	danger:#ff4040,
	danger-1:#e03939,
  danger-2:#cd3333,
);

$breakpoints: (
	xs: 0, // mandatory
	sm: 420px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
	xxl: 1440px,
);

$global: (
  font-family-base: 'Roboto, Arial, Helvetica, sans-serif',
  font-family-secondary: 'Montserrat, Tahoma, sans-serif',
  font-size-base: 14px,
  base-color: #000,
  button-font-size-base: 14px,
  content-width: 1320px,
  content-width-sm: 840px,
  mobile-first: true,
);

$media-width: if(map-get($global, mobile-first), 'min', 'max');

// use this vars in media query @media($sm) {...}
$sm: '#{$media-width}-width: (#{map-get($breakpoints, sm)})';
$md: '#{$media-width}-width: (#{map-get($breakpoints, md)})';
$lg: '#{$media-width}-width: (#{map-get($breakpoints, lg)})';
$xl: '#{$media-width}-width: (#{map-get($breakpoints, xl)})';

:root {
	// colors
  @each $color, $value in $colors {--color-#{$color}: #{$value};}
	// breakpoints
  @each $size, $value in $breakpoints {@if ($size != xs){--breakpoint-#{$size}: #{$value};}}
  // spacings
  @each $spacing, $value in $spacings {--spacing-#{$spacing}: #{$value};}
  // radiuses
  @each $radius, $value in $radiuses {--radius-#{$radius}: #{$value};}
  // sizes
  @each $size, $value in $sizes {--size-#{$size}: #{$value};}
  // shadows
  @each $shadow, $value in $shadows {--shadow-#{$shadow}: #{$value};}
  // other
  @each $var, $value in $global {--#{$var}: #{$value};}
}
