// color list
$color-list : (
  disabled: #ccc,
  dark:#000000,
	light:#ffffff,
  theme:#eed5b7,
  theme-1:#cdb79e,
  theme-2:#cdb38b,
	primary:#00bfff,
	primary-1:#00b2ee,
	primary-2:#009acd,
	secondary:#e0e0e0,
	secondary-1:#d8d8d8,
	secondary-2:#a0a0a0,
	success:#00BF32,
	success-1:#269610,
	success-2:#167C0C,
	warning:#FFAF2D,
	warning-1:#FF8719,
  warning-2:#C15A0D,
  info:#87ceff,
	info-1:#7ec0ee,
	info-2:#6ca6cd,
	danger:#ff4040,
	danger-1:#e03939,
  danger-2:#cd3333,
);

// global classes
$none-class: 'n';
$inherit-class: 'inh';
$unset-class: 'un';
$initial-class: 'int';
$normal-class: 'nl';
$auto-class: 'a';
$all-class: 'all';
$transparent-class: 'trsp';
$current-color-class: 'current';
$direction-start-class: 's';
$direction-end-class: 'e';
$direction-left-class: 'l';
$direction-center-class: 'c';
$direction-right-class: 'r';
$direction-middle-class: 'm';
$direction-top-class: 't';
$direction-bottom-class: 'b';
$direction-baseline-class: 'bs';
$direction-vertical-class: 'y';
$direction-horizontal-class: 'x';
$negative-class: 'neg';

// pseudo
$hover-class: 'h';
$focus-class: 'f';
$focus-within-class: 'fcw';
$active-class: 'a';
$placeholder-class: 'pl';

// state class
$open-state-class: 'is-open';
$active-state-class: 'is-active';

// size
$size-prefix-class: 'sz';
$size-max-class: 'max';
$size-min-class: 'min';
// uses for width, height and size utilities
$size-list: (
  1: 16px,
  2: 20px,
  3: 24px,
  4: 30px,
  5: 32px,
  6: 36px,
  7: 42px,
  8: 48px,
  9: 52px,
  10: 64px,
  11: 72px,
  280: 280px,
  320: 320px,
  480: 480px,
  // mandatory
  100: 100%,
  75: 75%,
  50: 50%,
  33: 33.33%,
  25: 25%,
  100vh: 100vh,
  75vh: 75vh,
  50vh: 50vh,
  33vh: 33.33vh,
  25vh: 25vh,
  100vw: 100vw,
  75vw: 75vw,
  50vw: 50vw,
  33vw: 33.33vw,
  25vw: 25vw,
  0: 0,
  a: auto,
  inh: inherit,
  'av': available,
  'min-c': min-content,
  'max-c': max-content,
  'fit-c': fit-content,
  'fit-a': fit-available,
);

// button
$button-prefix-class: 'button';
$button-base-font-size: 14px;
$button-types: (
  primary: (
    default: (
      background: var(--color-primary),
      color: var(--color-light),
    ),
    hover: (
      background: var(--color-primary-1),
      color: var(--color-light),
    ),
    focus: (
      background: var(--color-primary-1),
      color: var(--color-light),
    ),
    active: (
      background: var(--color-primary-2),
    ),
  ),
  secondary: (
    default: (
      background: var(--color-secondary),
    ),
    hover: (
      background: var(--color-secondary-1),
    ),
    focus: (
      background: var(--color-secondary-1),
    ),
    active: (
      background: var(--color-secondary-2),
    ),
  ),
  warning: (
    default: (
      background: var(--color-warning),
      color: var(--color-light),
    ),
    hover: (
      background: var(--color-warning-1),
      color: var(--color-light),
    ),
    focus: (
      background: var(--color-warning-1),
      color: var(--color-light),
    ),
    active: (
      background: var(--color-warning-2),
    ),
  ),
  success: (
    default: (
      background: var(--color-success),
      color: var(--color-light),
    ),
    hover: (
      background: var(--color-success-1),
      color: var(--color-light),
    ),
    focus: (
      background: var(--color-success-1),
      color: var(--color-light),
    ),
    active: (
      background: var(--color-success-2),
    ),
  ),
  info: (
    default: (
      background: var(--color-info),
      color: var(--color-light),
    ),
    hover: (
      background: var(--color-info-1),
      color: var(--color-light),
    ),
    focus: (
      background: var(--color-info-1),
      color: var(--color-light),
    ),
    active: (
      background: var(--color-info-2),
    ),
  ),
  danger: (
    default: (
      background: var(--color-danger),
      color: var(--color-light),
    ),
    hover: (
      background: var(--color-danger-1),
      color: var(--color-light),
    ),
    focus: (
      background: var(--color-danger-1),
      color: var(--color-light),
    ),
    active: (
      background: var(--color-danger-2),
    ),
  ),
  disabled: (
    default: (
      background: var(--color-disabled),
      pointer-events: none,
      cursor: default,
    )
  )
);

// shadow
$shadow-prefix-class: 'sh';
$shadow-width-class: 'wd';
$shadow-scattering-class: 'sc';
$shadow-list: (
  1: 'rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px',
  2: 'rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px',
  3: 'rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px',
  4: 'rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px',
  in-1: 'inset rgba(50, 50, 93, 0.25) 0 2px 5px -1px, inset rgba(0, 0, 0, 0.3) 0 1px 3px -1px',
  in-2: 'inset rgba(50, 50, 93, 0.25) 0 6px 12px -2px, inset rgba(0, 0, 0, 0.3) 0 3px 7px -3px',
  in-3: 'inset rgba(50, 50, 93, 0.25) 0 13px 27px -5px, inset rgba(0, 0, 0, 0.3) 0 8px 16px -8px',
  in-4: 'inset rgba(0, 0, 0, 0.19) 0 10px 20px, inset rgba(0, 0, 0, 0.23) 0 6px 6px',
);
// for colored shadows
$shadow-width-list: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  6: 6px,
  7: 7px,
  8: 8px,
  9: 9px,
  10: 10px,
  11: 11px,
  12: 12px,
);
$shadow-vertical-shift-list: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  6: 6px,
  7: 7px,
  8: 8px,
  9: 9px,
  10: 10px,
  11: 11px,
  12: 12px,
);
$shadow-horizontal-shift-list: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  6: 6px,
  7: 7px,
  8: 8px,
  9: 9px,
  10: 10px,
  11: 11px,
  12: 12px,
);
$shadow-scattering-list: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  6: 6px,
  7: 7px,
  8: 8px,
  9: 9px,
  10: 10px,
  11: 11px,
  12: 12px,
);

// box sizing
$box-sizing-prefix-class: 'bx';
$box-sizing-border-class: 'bb';
$box-sizing-content-class: 'cb';

// border collapse
$border-collapse-prefix-class: 'bc';
$border-collapse-separate-class: 's';
$border-collapse-collapse-class: 'c';

// width
$width-prefix-class: 'wd';
$width-max-class: 'max';
$width-min-class: 'min';

// height
$height-prefix-class: 'he';
$height-max-class: 'max';
$height-min-class: 'min';

// position
$position-prefix-class: 'pos';
$position-relative-class: 'rel';
$position-absolute-class: 'abs';
$position-fixed-class: 'fx';
$position-sticky-class: 'sti';
$position-static-class: 'sta';
$position-cover-class: 'cover';

// z-index
$z-index-class: 'z';
$z-index-list: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  0: 0,
  1-neg: -1,
  2-neg: -2,
  3-neg: -3,
  4-neg: -4,
  5-neg: -5,
  6-neg: -6,
  7-neg: -7,
  8-neg: -8,
  9-neg: -9,
  10-neg: -10,
  100: 100,
  1000: 1000,
  2000: 2000,
);

// text
$text-prefix-class: 'txt';
$text-justify-class: 'j';
$text-truncate-class: 'trnc';
$text-truncate-reset-class: 'trnc-res';

// text decoration
$text-decoration-prefix-class: 'td';
$text-decoration-undeline-class: 'u';
$text-decoration-overline-class: 'o';
$text-decoration-strike-class: 'lt';

// text transform
$text-transform-prefix-class: 'tt';
$text-transform-uppercase-class: 'u';
$text-transform-lowercase-class: 'l';
$text-transform-capitalize-class: 'c';

// word break
$word-prefix-class: 'wr';
$word-wrap-break-class: 'bw';

// white space
$white-space-prefix-class: 'wh';
$white-space-nowrap-class: 'nw';
$white-space-pre-class: 'pre';
$white-space-pre-wrap-class: 'prew';
$white-space-pre-line-class: 'prel';
$white-space-break-spaces-class: 'brs';

// font
$font-prefix-class: 'font';
$font-smooth-class: 'smooth';
$font-smooth-auto-class: 'smooth-a';
$font-base-class: 'base';
$font-secondary-class: 'secondary';
$font-thin-class: '100';
$font-extra-light-class: '200';
$font-light-class: '300';
$font-normal-class: '400';
$font-medium-class: '500';
$font-semibold-class: '600';
$font-bold-class: '700';
$font-extra-bold-class: '800';
$font-bolder-class: '900';
$font-italic-class: 'itl';
$font-size-class: 'sz';
$font-size-list: (
  10: 10px,
  11: 11px,
  12: 12px,
  13: 13px,
  14: 14px,
  15: 15px,
  16: 16px,
  17: 17px,
  18: 18px,
  19: 19px,
  20: 20px,
  21: 21px,
  22: 22px,
  23: 23px,
  24: 24px,
  25: 25px,
  26: 26px,
  27: 27px,
  28: 28px,
  29: 29px,
  30: 30px,
  0: 0,
);

// line height
$line-height-prefix-class: 'lh';
$line-height-list: (
  '1': 1,
  '1-1': 1.1,
  '1-2': 1.2,
  '1-3': 1.3,
  '1-4': 1.4,
  '1-5': 1.5,
  '1-6': 1.6,
  '1-7': 1.7,
  '1-8': 1.8,
  '1-9': 1.9,
  '2': 2,
  10: 10px,
  11: 11px,
  12: 12px,
  13: 13px,
  14: 14px,
  15: 15px,
  16: 16px,
  17: 17px,
  18: 18px,
  19: 19px,
  20: 20px,
  21: 21px,
  22: 22px,
  23: 23px,
  24: 24px,
  25: 25px,
  26: 26px,
  27: 27px,
  28: 28px,
  29: 29px,
  30: 30px,
  0: 0,
);

// background
$background-prefix-class: 'bg';
$background-repeat-class: 'rp';
$background-norepeat-class: 'nrp';
$background-position-class: 'pos';
$background-attachment-fixed-class: 'fx';
$background-attachment-scroll-class: 'sc';
$background-attachment-local-class: 'lc';
$background-size-cover-class: 'cover';
$background-size-contain-class: 'con';
$background-size-auto-class: 'a';
$background-clip-border-class: 'cb';
$background-clip-padding-class: 'cp';
$background-clip-content-class: 'cc';
$background-clip-text-class: 'ct';
$background-gradient-class: 'gr';
$background-gradient-list: (
  primary : 'linear-gradient(#00bfff, #009acd)',
  secondary : 'linear-gradient(#e0e0e0, #a0a0a0)',
  success : 'linear-gradient(#00BF32, #167C0C)',
  warning : 'linear-gradient(#FFAF2D, #C15A0D)',
  info : 'linear-gradient(#87ceff, #6ca6cd)',
  danger : 'linear-gradient(#ff4040, #cd3333)',
);

// object fit
$object-fit-prefix-class: 'obf';
$object-fit-contain-class: 'con';
$object-fit-fill-class: 'fill';
$object-fit-cover-class: 'cover';
$object-fit-scale-down-class: 'scd';

// display
$display-prefix-class: 'd';
$display-none-class: 'n';
$display-block-class: 'b';
$display-inline-block-class: 'ib';
$display-grid-class: 'g';
$display-inline-grid-class: 'ig';
$display-flex-class: 'f';
$display-inline-flex-class: 'if';
$display-table-class: 'tb';
$display-table-row-class: 'tr';
$display-table-cell-class: 'tc';
$display-table-caption-class: 'tcp';
$display-contents-class: 'cn';

// spacing
$margin-prefix-class: 'm';
$padding-prefix-class: 'p';
$spacing-childs-prefix-class: 'space';
// automatic generate—ã negative values
$spacing-list: (
  1em: 1em,
  2em: 2em,
  1: 6px,
  2: 4px,
  3: 8px,
  4: 10px,
  5: 12px,
  6: 14px,
  7: 16px,
  8: 20px,
  9: 30px,
  10: 40px,
  11: 50px,
  12: 60px,
  13: 80px,
  // mandatory
  100: 100%,
  50: 50%,
  33: 33%,
  25: 25%,
  0: 0,
);

// border
$border-prefix-class: 'bdr';
$border-width-class: 'wd';
$border-dotted-class: 'dt';
$border-dashed-class: 'dsh';
$border-solid-class: 'sl';
$border-width-list: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  6: 6px,
  7: 7px,
  8: 8px,
  9: 9px,
  10: 10px,
  11: 11px,
  12: 12px,
);

// outline
$outline-prefix-class: 'out';

// row
$row-prefix-class: 'case';
$row-columns-class: 'cells';
$row-equal-height-class: 'eq-cells';
$row-gap-class: 'gap';
$row-column-prefix-class: 'cell';
$row-column-auto-class: 'a';
$row-column-offset-class: 'ofs';
$row-column-count: 12;

// grid
$grid-prefix-class: 'grid';
$grid-columns-class: 'cols';
$grid-rows-class: 'rows';
$grid-gap-class: 'gap';
$grid-column-count: 12;
$grid-row-count: 12;
$grid-column-prefix-class: 'col';
$grid-column-start-class: 'st';
$grid-column-end-class: 'end';
$grid-column-span-class: 'sp';
$grid-row-prefix-class: 'row';
$grid-row-start-class: 'st';
$grid-row-end-class: 'end';
$grid-row-span-class: 'sp';
$grid-auto-flow-row-class: 'fl-r';
$grid-auto-flow-column-class: 'fl-c';
$grid-auto-flow-row-dense-class: 'fl-rd';
$grid-auto-flow-column-dense-class: 'fl-cd';

// column
$column-prefix-class: 'clm';
$column-gap-class: 'gap';
$column-span-class: 'sp';
$column-count: 12;

// flex
// flex prefix
$flex-direction-class: 'fd';
$flex-justify-content-class: 'jc';
$flex-justify-items-class: 'ji';
$flex-justify-self-class: 'js';
$flex-align-content-class: 'ac';
$flex-align-items-class: 'ai';
$flex-align-self-class: 'as';
$flex-wrap-class: 'fw';

$flex-place-props: true;
$flex-place-content-class: 'plc';
$flex-place-items-class: 'pli';
$flex-place-self-class: 'pls';

$flex-row-class: 'r';
$flex-row-reverse-class: 'rr';
$flex-column-class: 'c';
$flex-column-reverse-class: 'cr';

$flex-wrap-wrap-class: 'wr';
$flex-wrap-nowrap-class: 'nw';
$flex-wrap-revers-class: 'wrr';

$flex-center-class: 'c';
$flex-start-class: 's';
$flex-self-start-class: 'ss';
$flex-self-end-class: 'se';
$flex-end-class: 'e';
$flex-flex-start-class: 'fs';
$flex-flex-end-class: 'fe';
$flex-left-class: 'l';
$flex-right-class: 'r';
$flex-baseline-class: 'bs';
$flex-first-baseline-class: 'fbs';
$flex-last-baseline-class: 'lbs';
$flex-space-between-class: 'sb';
$flex-space-around-class: 'sa';
$flex-space-evenly-class: 'sev';
$flex-stretch-class: 'st';
$flex-safe-center-class: 'sc';
$flex-unsafe-center-class: 'uc';

$flex-fill-class: 'fl-f';
$flex-none-class: 'fl-n';
$flex-none-childs-class: 'fl-n-ch';
$flex-grow-1-class: 'fl-g-1';
$flex-grow-0-class: 'fl-g-0';
$flex-shrink-1-class: 'fl-sh-1';
$flex-shrink-0-class: 'fl-sh-0';

$flex-order-class: 'or';
$flex-order-list: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  12: 12,
  f: -1,
  l: 13
);

// svg icon
$svg-icon-prefix-class: 'svg-icon';
$svg-icon-stroke-class: 'stroke';
$svg-icon-nofill-class: 'nofill';

// opacity
$opacity-prefix-class: 'op';
$opacity: (
  100: 1,
  90: .9,
  80: .8,
  70: .7,
  60: .6,
  50: .5,
  40: .4,
  30: .3,
  20: .2,
  10: .1,
  0: 0,
);

// user select
$user-select-prefix-class: 'us';
$user-select-all-class: 'all';
$user-select-text-class: 'txt';

// pointer events class
$pointer-events-prefix-class: 'pe';

// overflow
$overflow-prefix-class: 'ov';
$overflow-hidden-class: 'h';
$overflow-visible-class: 'v';
$overflow-scroll-class: 'sc';
$overflow-touch-class: 't';

// visibilitys
$visibility-prefix-class: 'vs';
$visibility-hidden-class: 'h';
$visibility-visible-class: 'v';

// forms
$form-checkbox-class: 'rs-checkbox';
$form-radio-class: 'rs-radio';
$form-switch-class: 'rs-switch';

// spinner
$spinner-prefix-class: 'rs-spinner';
$spinner-base-width: 32px;
$spinner-base-height: 32px;
$spinner-base-border-width: 3px;

// transtion animation
$animation-prefix-class: 'anim';
$animation-toggle-class: 'toggle';

// transition
$transition-prefix-class: 'trs';

// transform animation duration
$times: (
  30: .3s,
  50: .5s,
  70: .7s,
  1: 1s,
  2: 2s,
  3: 3s,
  4: 4s,
);

// transform
$transform-prefix-class: 'trf';
$transform-origin-class: 'or';
$transform-scale-class: 'sc';
$transform-translate-class: 'tr';
$transform-rotate-class: 'rt';
$transform-skew-class: 'sk';
$transform-rotate-list: (
  45: 45deg,
  90: 45deg,
  180: 45deg,
  45-neg: 45deg,
  90-neg: 45deg,
  180-neg: 45deg,
  0: 0,
);
$transform-translate-list: (
  50: 50%,
  100: 100%,
  50-neg: -50%,
  100-neg: -100%,
  0: 0,
);
$transform-scale-list: (
  1: 1,
  '1-2': 1.2,
  '1-3': 1.3,
  '1-4': 1.4,
  '1-5': 1.5,
  0: 0,
);
$transform-skew-list: (
  3: 3deg,
  6: 6deg,
  9: 6deg,
  3-neg: -3deg,
  6-neg: -6deg,
  9-neg: -9deg,
  0: 0,
);
$transform-origin-list: (
  c: center,
  t: top,
  b: bottom,
  l: left,
  r: right,
  t-l: top left,
  t-r: top right,
  b-l: bottom left,
  b-r: bottom right,
);

// alignment
$align-prefix-class: 'va';
$align-child-class: 'ch';
$align-text-top-class: 'tt';
$align-text-bottom-class: 'tb';

// container
$container-prefix-class: 'container';
$container-width: 1320px;
$container-width-fixed: (
  sm: 840px,
);

// clearfix
$clearfix-prefix-class: 'clearfix';

// float
$float-prefix-class: 'flt';

// border radius
$radius-prefix-class: 'rds';
$radius-list: (
  1: 4px,
  2: 6px,
  3: 8px,
  4: 10px,
  5: 12px,
  6: 14px,
  7: 16px,
  8: 18px,
  9: 20px,
  10: 22px,
  11: 24px,
  12: 26px,
  13: 28px,
  14: 30px,
  round: 50%,
  pill: 50rem,
  0: 0,
);

// cursor
$cursor-prefix-class: 'cur';
$cursor-pointer-class: 'p';
$cursor-move-class: 'm';
$cursor-text-class: 't';
$cursor-help-class: 'h';
$cursor-default-class: 'd';

$breakpoint-list: (
	xs: 0, // mandatory
	sm: 420px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
);

$global: (
  font-family-base: 'Roboto, Arial, Helvetica, sans-serif',
  font-family-secondary: 'Montserrat, Tahoma, sans-serif',
  font-size-base: 14px,
  base-color: #000,
  button-font-size-base: 14px,
  mobile-first: true,
);

$media-width: if(map-get($global, mobile-first), 'min', 'max');

// use this vars in media query @media($sm) {...}
$sm: '#{$media-width}-width: (#{map-get($breakpoint-list, sm)})';
$md: '#{$media-width}-width: (#{map-get($breakpoint-list, md)})';
$lg: '#{$media-width}-width: (#{map-get($breakpoint-list, lg)})';
$xl: '#{$media-width}-width: (#{map-get($breakpoint-list, xl)})';

:root {
  // color list
  @each $color, $value in $color-list {--color-#{$color}: #{$value};}
  // gradient list
  @each $color, $value in $background-gradient-list {--gradient-#{$color}: #{$value};}
	// breakpoint list
  @each $size, $value in $breakpoint-list {@if ($size != xs){--breakpoint-#{$size}: #{$value};}}
  // spacing list
  @each $spacing, $value in $spacing-list {--spacing-#{$spacing}: #{$value};}
  // radius list
  @each $radius, $value in $radius-list {--radius-#{$radius}: #{$value};}
  // size list
  @each $size, $value in $size-list {--size-#{$size}: #{$value};}
  // shadow list
  @each $shadow, $value in $shadow-list {--shadow-#{$shadow}: #{$value};}
  // global list
  @each $var, $value in $global {--#{$var}: #{$value};}
}
