$component-prefix-class: 'rs';
$none-class: 'n';
$inherit-class: 'inh';
$unset-class: 'un';
$initial-class: 'int';
$normal-class: 'nl';
$auto-class: 'a';
$transparent-class: 'trsp';
$current-color-class: 'current';
$direction-start-class: 's';
$direction-end-class: 'e';
$direction-left-class: 'l';
$direction-center-class: 'c';
$direction-right-class: 'r';
$direction-middle-class: 'm';
$direction-top-class: 't';
$direction-bottom-class: 'b';
$direction-vertical-class: 'y';
$direction-horizontal-class: 'x';

$hover-class: 'h';
$focus-class: 'f';
$focus-within-class: 'fw';
$active-class: 'a';

$size-class: 'sz';
$size-exstra-small-class: 'xs';
$size-small-class: 'sm';
$size-medium-class: 'md';
$size-large-class: 'lg';
$size-extra-large-class: 'xl';

$button-prefix-class: 'button';
$button-base-font-size: 14px;

$radius-prefix-class: 'rds';
$radius-round-class: 'round';
$radius-pill-class: 'pill';

$shadow-prefix-class: 'sh';

$width-prefix-class: 'wd';
$width-100-percent-class: '1';
$width-50-percent-class: '2';
$width-33-percent-class: '3';
$width-25-percent-class: '4';
$width-max-100-class: 'max-100';

$height-prefix-class: 'he';
$height-100-percent-class: '1';
$height-50-percent-class: '2';
$height-33-percent-class: '3';
$height-25-percent-class: '4';
$height-max-100-class: 'max-100';

$position-prefix-class: 'pos';
$position-relative-class: 'rel';
$position-absolute-class: 'abs';
$position-fixed-class: 'fx';
$position-sticky-class: 'sti';
$position-static-class: 'sta';
$position-cover-class: 'cover';
$z-index-class: 'zi';
$z-index-over-class: 'over';
$z-index-negative-class: 'neg';
$z-index-over-value: 2000;
$z-index-count: 10;

$text-prefix-class: 'txt';
$text-uppercase-class: 'upp';
$text-lowercase-class: 'lwr';
$text-capitalize-class: 'cap';
$text-underline-class: 'du';
$text-underline-none-class: 'dn';
$text-throught-class: 'lth';
$text-justify-class: 'j';

$font-prefix-class: 'font';
$font-base-class: 'base';
$font-secondary-class: 'secondary';
$font-thin-class: '100';
$font-extra-light-class: '200';
$font-light-class: '300';
$font-normal-class: '400';
$font-medium-class: '500';
$font-semibold-class: '600';
$font-bold-class: '700';
$font-extra-bold-class: '800';
$font-bolder-class: '900';
$font-italic-class: 'itl';
$font-size-class: 'sz';

$line-height-prefix-class: 'lh';

$background-prefix-class: 'bg';
$background-repeat-repeat-class: 'rp';
$background-repeat-norepeat-class: 'nrp';

$display-prefix-class: 'd';
$display-none-class: 'n';
$display-block-class: 'b';
$display-inline-block-class: 'ib';
$display-grid-class: 'g';
$display-inline-grid-class: 'ig';
$display-flex-class: 'f';
$display-inline-flex-class: 'if';
$display-table-class: 'tb';
$display-table-row-class: 'tr';
$display-table-cell-class: 'tc';
$display-table-caption-class: 'tcp';

$margin-class: 'm';
$margin-negative-class: 'neg';
$padding-class: 'p';

$grid-row-class: 'row';
$grid-row-equal-height-class: 'equal-cols';
$grid-row-columns-class: 'cols';
$grid-column-class: 'col';
$grid-column-auto-class: 'auto';
$grid-column-offset-class: 'col-ofs';
$grid-gap-class: 'gap';
$grid-no-gap-class: 'no-gap';
$grid-no-gap-bottom-class: 'no-gap-b';
$grid-column-count: 12;
$grid-gap: 20px;
$grid-gap-sm: 10px;
$grid-gap-md: 30px;
$grid-gap-lg: 40px;
$grid-gap-xl: 60px;

$container-class: 'container';
$clearfix-class: 'clearfix';
$float-prefix-class: 'flt';
$radius-prefix-class: 'rds';

$border-prefix-class: 'bdr';
$border-width-class: 'wd';
$border-dotted-class: 'dt';
$border-dashed-class: 'dsh';
$border-solid-class: 'sl';
$border-width-count: 10;

// flex prefix classes
$flex-direction-class: 'fd';
$flex-justify-content-class: 'jc';
$flex-justify-items-class: 'ji';
$flex-justify-self-class: 'js';
$flex-align-content-class: 'ac';
$flex-align-items-class: 'ai';
$flex-align-self-class: 'as';
$flex-wrap-class: 'fw';
$flex-place-content-class: 'plc';
$flex-place-items-class: 'pli';
$flex-place-self-class: 'pls';

$flex-row-class: 'r';
$flex-row-reverse-class: 'rr';
$flex-column-class: 'c';
$flex-column-reverse-class: 'cr';

$flex-wrap-wrap-class: 'w';
$flex-wrap-nowrap-class: 'nw';
$flex-wrap-revers-class: 'wrr';

$flex-center-class: 'c';
$flex-start-class: 's';
$flex-self-start-class: 'ss';
$flex-self-end-class: 'se';
$flex-end-class: 'e';
$flex-flex-start-class: 'fs';
$flex-flex-end-class: 'fe';
$flex-left-class: 'l';
$flex-right-class: 'r';
$flex-baseline-class: 'b';
$flex-first-baseline-class: 'fb';
$flex-last-baseline-class: 'lb';
$flex-space-between-class: 'sb';
$flex-space-around-class: 'sa';
$flex-space-evenly-class: 'se';
$flex-stretch-class: 'st';
$flex-safe-center-class: 'sc';
$flex-unsafe-center-class: 'uc';

$flex-fill-class: 'fl-1';
$flex-none-class: 'fl-n';
$flex-none-childs-class: 'fl-n-ch';
$flex-grow-1-class: 'fl-g-1';
$flex-grow-0-class: 'fl-g-0';
$flex-shrink-1-class: 'fl-sh-1';
$flex-shrink-0-class: 'fl-sh-0';

$flex-order-class: 'or';
$flex-order-count: 10;
$flex-order-first-class: 'f';
$flex-order-last-class: 'l';

$svg-icon-class: 'svg-icon';

// forms
// prefix will be added $component-prefix-class
$select-class: 'select';
$form-control: 'form-control'; // input textarea
