$global: (
  important: false,
  prefix: '',
  font-family-base: 'Roboto, Arial, Helvetica, sans-serif',
  font-family-secondary: 'Montserrat, Tahoma, sans-serif',
  font-size-base: 14px,
  base-color: #000,
  button-font-size-base: 14px,
  mobile-first: true,
);

$breakpoint-list: (
	xs: 0, // mandatory
	sm: 420px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
);

$color-list : (
  disabled: #ccc,
  dark:#000000,
	light:#ffffff,
  theme:#eed5b7,
  theme-1:#cdb79e,
  theme-2:#cdb38b,
	primary:#00bfff,
	primary-1:#00b2ee,
	primary-2:#009acd,
	secondary:#e0e0e0,
	secondary-1:#d8d8d8,
	secondary-2:#a0a0a0,
	success:#00BF32,
	success-1:#269610,
	success-2:#167C0C,
	warning:#FFAF2D,
	warning-1:#FF8719,
  warning-2:#C15A0D,
  info:#87ceff,
	info-1:#7ec0ee,
	info-2:#6ca6cd,
	danger:#ff4040,
	danger-1:#e03939,
  danger-2:#cd3333,
);

$size-list: (
  1: 12px,
  2: 16px,
  3: 20px,
  4: 24px,
  5: 30px,
  6: 32px,
  7: 36px,
  8: 42px,
  9: 48px,
  10: 52px,
  11: 64px,
  12: 72px,
  280: 280px,
  320: 320px,
  480: 480px,
  // mandatory
  full: 100%,
  75per: 75%,
  50per: 50%,
  33per: 33.33%,
  25per: 25%,
  100vh: 100vh,
  75vh: 75vh,
  50vh: 50vh,
  33vh: 33.33vh,
  25vh: 25vh,
  100vw: 100vw,
  75vw: 75vw,
  50vw: 50vw,
  33vw: 33.33vw,
  25vw: 25vw,
  0: 0,
  a: auto,
  inh: inherit,
  'av': available,
  'min-c': min-content,
  'max-c': max-content,
  'fit-c': fit-content,
  'fit-a': fit-available,
);

$opacity-list: (
  100: 1,
  90: .9,
  80: .8,
  70: .7,
  60: .6,
  50: .5,
  40: .4,
  30: .3,
  20: .2,
  10: .1,
  0: 0,
);

$spacing-list: (
  1: 6px,
  2: 4px,
  3: 8px,
  4: 10px,
  5: 12px,
  6: 14px,
  7: 16px,
  8: 20px,
  9: 30px,
  10: 40px,
  11: 50px,
  12: 60px,
  13: 80px,
  0: 0,
);

$spacing-negative-list: (
  1-neg: -6px,
  2-neg: -4px,
  3-neg: -8px,
  4-neg: -10px,
  5-neg: -12px,
  6-neg: -14px,
  7-neg: -16px,
  8-neg: -20px,
  9-neg: -30px,
  10-neg: -40px,
  11-neg: -50px,
  12-neg: -60px,
  13-neg: -80px,
);

$media-width: if(map-get($global, mobile-first), 'min', 'max');

// use this vars in media query @media($sm) {...}
$sm: '#{$media-width}-width: (#{map-get($breakpoint-list, sm)})';
$md: '#{$media-width}-width: (#{map-get($breakpoint-list, md)})';
$lg: '#{$media-width}-width: (#{map-get($breakpoint-list, lg)})';
$xl: '#{$media-width}-width: (#{map-get($breakpoint-list, xl)})';

:root {
  --text-opacity: 1;
  --placeholder-opacity: 1;
  --border-opacity: 1;
  --background-opacity: 1;
  --shadow-opacity: 1;
  --border-color: #000;
  @each $color, $value in $color-list {--color-#{$color}: #{hex-to-rgb($value)};}
  @each $var, $value in $global {--#{$var}: #{$value};}
}
